@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f6f4f4;
  height: 100%;
  width: 100%;
}
html{
	height: 100%;
}
header{
	height: 60px;
	background: #fff;
	top:0px;
	width: 100%;
	overflow: hidden;
	display:inline-block;
}
.container{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.navLeft{
	display: inline-block;
	margin-left: 5%;
	width: 15%;
	height: 100%;
}
.imgContainer{
	display: inline-block;
	height: 100%;
}
img{
	display: inline-block;
	max-height: 100%;
	max-width: 95%;
	min-height: 95%;
	height: auto;
	width: auto;
}

.navCenter{
	display:inline-block;
	width: 50%;
	height: 100%;
	margin-right: 7%;
}
.item{
	top: 0px;
	display: inline-block;
	height: 100%;
	width: 20%
	margin-left:10%;
	display: flex;
	float: left;
	margin-right: 10%;
	flex-direction: column;
	cursor: pointer;
}
.text{
	margin: auto;
	letter-spacing: 0.02em;
	color: black;
	font-size: 14px;
}
.underText{
	width: 100%;
	height: 2px;
	background-color: red;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s 1s, opacity 1s linear;

}

.item:hover .underText{
	visibility: visible;
  	opacity: 1;
  	transition: opacity 1s linear;
}
.navRight{
	display: inline-block;
	height: 100%;
	width: 20%;
}
#itemDisco{
	cursor: pointer;
	height: 100%;
	width: 30%;
	margin-left: 10%;
	color: black;
	text-decoration: none;
	display: flex;
	float: left;
	flex-flow: column;
}
#itemProfil{
	height: 100%;
	width: 40%;
	display: flex;
	float: left;
}

#itemProfil i{
	margin: auto;
	margin-right: 5px;
	font-size: 25px;
}
#itemProfil p{
	margin: auto;
	margin-left: 5px; 
	font-size: xx-small;
}
#itemDisco i{
	margin: auto;
	font-size: 25px;
}
#itemDisco:hover .underText{
	visibility: visible;
  	opacity: 1;
  	transition: opacity 1s linear;
}

.trigger {
	height: 100%;
	display: flex;
}
.salleContainer{
	margin: 5%;
	display: flex;
	height: 40%;
	width: 40%;
	margin-left: 9%;
	background-color: white;
	border-radius: 12px;
	flex-direction: column;
}
.salleHeader{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 35%;
}
.salleHeader div{
	display: inline-block;
}
.salleHeader div .icone{
	margin-left: 7%;
	margin-top: 2%;
	font-size: 35px;
}
.salleName{
	margin-left: 7%;
	margin-top: 0%;
	font-size: 16px;
	width: 161px;
}
.nbrPlace{
	margin-left: 32%;
	margin-top: 0%;
	font-size: 13px;
	width: 25px;
}
.salleHeaderUL{
	display: inline-block;
    background-color: red;
    width: 94%;
    height: 1px;
    margin-left: 3%;
}
.salleMiddle{
	width: 100%;
	height: 50%;
}
.categorieContainer{
	width: 100%;
	height: 100%;
	display: flex;
}
.categorie{
	margin-left: 4%;
    margin-top: 3%;
    background-color: #f6f4f4;
    height: 35px;
    width: auto;
    display: flex;
    padding: 7px;
    border-radius: 50%;
}
.categorie div {
	margin: auto;
}
}